{{ define "main" }}
  <div class="profile-section">
    <div class="profile-avatar-wrapper">
      <img src="{{ $.Site.BaseURL }}img/minh-hieu.jpg" alt="Minh Hiếu" class="profile-avatar">
    </div>
    <h1 class="profile-handle">@Yuyashi</h1>
    <h2 class="profile-name">Minh Hiếu</h2>
    <div class="profile-socials">
    <a href="https://github.com/MinHieu2006" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://tryhackme.com/p/luongminhhieu303" target="_blank" title="TryHackMe">
        <i class="fas fa-terminal"></i>
    </a>
    <a href="https://www.linkedin.com/in/luong-minh-hieu-453679249/" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:luongminhhieu303@gmail.com" title="Email">
        <i class="fas fa-envelope"></i>
    </a>
</div>
  </div>

  {{ if .Content }}
    <div class="content-box intro-box">
      {{ .Content }}
    </div>
  {{ end }}
  
  <div class="project-list">
    {{ if eq (.Params.Type) "link-list" }}
      {{ partial "link-list.html" . }}
    {{ else }}
      {{ partial "index-post-list.html" . }}
    {{ end }}
  </div>

  <div class="pixel-art-character">🐧</div>
{{ end }}
