{{ define "main" }}
  <div class="profile-section">
    <div class="profile-avatar-wrapper">
      <img src="{{ $.Site.BaseURL }}/img/minh-hieu.jpg" alt="Louisload" class="profile-avatar">
    </div>
    <h1 class="profile-handle">@Yuyashi</h1>
    <h2 class="profile-name">Minh Hiếu</h2>
    <div class="profile-socials">
      <a href="#"><img src="{{ $.Site.BaseURL }}icon/instagram.svg" alt="Instagram"></a>
      <a href="#"><img src="{{ $.Site.BaseURL }}icon/twitter.svg" alt="Twitter"></a>
    </div>
  </div>

  {{ if .Content }}
    <div class="content-box intro-box">
      {{ .Content }}
    </div>
  {{ end }}
  
  <div class="project-list">
    {{ if eq (.Params.Type) "link-list" }}
      {{ partial "link-list.html" . }}
    {{ else }}
      {{ partial "index-post-list.html" . }}
    {{ end }}
  </div>

  <div class="pixel-art-character">👾</div>
{{ end }}
