.navigation-menu__inner {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5em;

  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: $accent;
    
    &:hover {
      color: $color;
      text-decoration: underline;
    }
  }
}
