<div class="posts">
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  {{ range $paginator.Pages }}
    <a href="{{ .Permalink }}" class="post-item-link">
      <article class="content-box post-item-box">
        <div class="post-item-icon">
          <img src="{{ $.Site.BaseURL }}icon/windows95.svg" alt="Icon">
        </div>
        <div class="post-item-content">
          <h3 class="post-item-title">{{ .Title | markdownify }}</h3>
          <p class="post-item-meta">
            {{- if .Date -}}{{- .Date.Format "2006-01-02" -}}{{- end -}} :: {{ if .Description }}{{ .Description | truncate 50 }}{{ else }}{{ .Summary | truncate 50 }}{{ end }}
          </p>
        </div>
      </article>
    </a>
  {{ end }}

  {{ partial "pagination.html" . }}
</div>